* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/cesar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem;

  background-color: #192231;
  color: rgb(221, 225, 230);

  text-align: center;
  font-style: initial;
  font-weight: bold;
  font-size: 45px;

  box-shadow: -5px 3.5px 0.4rem rgb(75, 59, 44);
}

.hifenH1 {
  color: rgb(7, 19, 59);
}

.header-buttons-container {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.header-button {
  width: 100%;
  height: 1.3rem;

  color: rgb(255, 255, 255);
  background-color: rgba(145, 90, 126, 0.438);
  padding: 1.4rem;
  text-align: center;
  font-size: 1.7rem;
  overflow: hidden;
  font-weight: bold;

  box-shadow: -0.1px 2px 0.5rem rgb(75, 59, 44);
  transition: 1s;
}

.header-button:hover {
  background-color: rgba(182, 115, 158, 0.438);
  width: 120%;
  z-index: 100;
  position: inherit;
}

.header-button:active {
  background-color: rgb(231, 172, 9);
}

#root {
  display: flex;
  height: 85vh;
  align-items: center;
}

/* Menu: O que é? */
.about-container {
  display: flex;
  width: 100%;
  background-color: #3c3842e3;
}

picture {
  width: 40rem;
  height: auto;
}

.img-imperator {
  max-height: 31rem;
  object-fit: unset;
}

.about-text {
  width: 90%;
  padding: 1.5rem;
  color: white;
}

.about-text h1 {
  font-size: 3rem;
}

.about-text p {
  font-size: 1.5rem;
  text-align: justify;
}

.img-medallion {
  width: 13rem;
  object-fit: unset;
  animation: rotate 10s infinite;
}

/* Menu: Como funciona? */

.cipher-example {
  display: flex;
  justify-content: center;
  height: 4.6rem;
  overflow: hidden;
  margin-top: 3rem;
}

.cipher-example ul {
  list-style: none;
  animation: change 10s infinite;
}

.cipher-example li {
  display: flex;
}

.cipher-example p {
  font-size: 4rem;
  padding: 1rem;
  width: 3rem;
  text-align: center;
}

/* Menu: Vamos testar */

.user-input-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30rem;
}

.user-input-phrase,
.user-input-number {
  height: 2.5rem;
  margin-bottom: 1rem;

  border: 0.04rem solid white;
  border-radius: 0.5rem;
  background-color: rgba(255, 254, 251, 0.486);

  text-align: center;
  font-size: 1.2rem;
}

.user-input-container label {
  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(1, 1, 54);
  text-align: center;
  margin-bottom: 2rem;
}

hr {
  margin: 1rem 0;
}

.user-input-phrase:focus,
.user-input-number:focus,
.code-button:focus {
  outline: 0.2rem solid rgba(145, 90, 126, 0.363);
}

.user-input-phrase {
  width: 20rem;
  resize: none;
}

.alert-area,
.alert-area-number {
  color: rgb(199, 21, 60);
  font-weight: lighter;
}

.user-input-number {
  width: 3rem;
}

.code-button {
  height: 3rem;
  width: 11rem;

  background: white;
  font-size: 1.4rem;
  font-weight: bold;

  border: 0.03rem solid #676666;
  border-radius: 0.5rem;
  color: #676666;
  cursor: pointer;
}

.error {
  animation: glowing 2000ms infinite;
}

.change-to-decode {
  font-size: 1.4rem;
  background: none;
  border: none;
  outline: none;
  font-family: monospace;
  color: #585858;
  margin: 3rem;
  cursor: pointer;
}

.code-text {
  background-color: #ffffff91;
  font-size: 3rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
  border-radius: 1rem;
}

.result-container {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Menu: Desafio de Lógica */
.challenge-container {
  display: flex;
}

.char-container {
  width: 60%;
}

.input-letter {
  width: 3rem;
  height: 3rem;

  border-radius: 0.3rem;
  background-color: white;

  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.right-answer {
  background-color: transparent;
}

.hidden-input {
  visibility: hidden;
}

.challenge-container aside {
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.clue {
  font-family: monospace;
  font-size: 2rem;
  background-color: #f0f8ff54;
  color: #192231;

  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 1s;
}

.clue:hover {
  background-color: #f6f9fcb9;
}

@keyframes glowing {
  0% {
    border: 0.2rem solid #c410c4c5;
  }
  50% {
    border: 0.2rem solid rgba(167, 16, 79, 0.541);
  }
  100% {
    border: 0.2rem solid #610264a8;
  }
}

@keyframes change {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 0;
  }
  50% {
    margin-top: -8rem;
  }
  75% {
    margin-top: -14rem;
  }
  100% {
    margin-top: -22rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(100deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
